body{
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(2,200px);
  gap: 5px;
  height: 100vh;
}

.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
  
}
.item:nth-of-type(1){
  /* background: blue;
  grid-column-start: 1;
  grid-column-end: 3; */
  grid-column:  span 3;
  grid-row:  span 2;
}
.item:nth-of-type(2){
  grid-column:  span 2;
  grid-row: span 2
}
.item:nth-of-type(3){
  grid-column:span 2
}
.item:nth-of-type(7){
  /* grid-column: 2/ span 2; */
}