body{ 
  font-family: 'lato', sans-serif;
  margin: 0;
}
.bash{
  grid-area: badge;
}

.badge img{
  max-width: 70px;
}
.hero{
  background: #23475b;
  color: white;
  padding: 32px 15px;
  display: grid;
  grid-template-columns:  minmax(auto, 1024px);
  justify-content: center;
}
.hero-container{
display: grid;
gap: 10px;
grid-template-columns: 70px 1fr 320px;
grid-template-areas: "badge title form"
                     ". description form"
                     ". countdown form"
}
.title{
  grid-area: title;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  display: flex;
  align-items: center;
}
.form{
  grid-area: form;
  text-align: center;
  background: rgba(255, 255, 255, .9);
  padding: 1.5em;
  border-radius: 10px;
}
.form input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dbdbe2;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.form p{
  font-size: 20px;
  color: #3a3b3f;
  margin: 1em;
}
.form button{
  background: #98ca3f;
  color: wheat;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  border-bottom: 5px solid #6d932b;
  display: inline-block;
}
.countdown{
  grid-area: countdown;
}
.countdown p {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}
.countdown span {
  font-size: 33px;
}
.countdown span:after {
  content: ":";
  display: inline-block;
  margin: 0 5px;
}

.countdown span:last-child:after {
  display: none;
}
p {
  margin: 0;
}
.description{
  grid-area: description;
}
@media screen  and (max-width: 768px){
  .hero-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 70px 1fr ;
    grid-template-areas: "badge title       "
                         "description     description "
                         "form            form        "
                         "countdown     countdown   "
}}